@page "/confirm-email"
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1 class="text-4xl font-bold text-navy-blue">@ViewData["Title"]</h1>
<div class="mt-10">
	<p>@Model.StatusMessage</p>
</div>
