@page "/password-reset-success"
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password";
}

<h1 class="text-4xl font-bold text-navy-blue">@ViewData["Title"]</h1>
<div class="mt-10">
	<p>
		Your password has been reset. Please <a class="text-blue-darker" asp-page="./Login">click here to log in</a>.
	</p>
</div>
