@page "/resend-confirmation-email"
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<style>
	.text-danger {
		color: red
	}

	.input-validation-error {
		border: 1px solid red
	}
</style>

<h1 class="text-4xl font-bold text-navy-blue">@ViewData["Title"]</h1>
<h2 class="text-2xl font-thin text-navy-blue">Enter your email:</h2>

<div class="mt-10">
    <form method="post">
        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
		<div class="flex mb-10">
			<div class="bottom-border-input mr-1 md:mb-0">
				<svg fill="currentColor" viewBox="0 0 20 20" role="img" aria-labelledby="abhqkehdgzih9lgt6mvtz3fdljpdhbn4" class="flex-shrink-0 text-navy-blue h-6 w-6 mr-2">
					<title id="abhqkehdgzih9lgt6mvtz3fdljpdhbn4">Email</title>
					<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
					<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
				</svg>
				<input asp-for="Input.Email" class="appearance-none block w-full text-gray-700 leading-tight focus:outline-none" autocomplete="email" aria-required="true" placeholder="youremail@example.com" />
				@*<label asp-for="Input.Email">Email</label>*@
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
		</div>
		<div class="m-10 text-center">
			<button type="submit" class="bg-navy-blue text-white font-bold py-2 px-8 rounded cursor-pointer">Resend confirmation email</button>
		</div>
    </form>
</div>

