<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Management Hub</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<link rel="stylesheet" media="all" href="/management_hub.css">
	<link rel="icon" type="image/png" href="/images/favicon.ico">
</head>
<body>
	<div class="main-background static h-screen w-full overflow-hidden">
		<img class="-z-1 object-cover" src="/images/background1.png">
		<div class="z-1 absolute inset-0 h-full w-full p-12" style="background-color: rgba(114, 186, 108, 0.8);">
			<div class="flex h-full">
				<div class="flex-1 w-1/2">
					<img src="/images/IQA_long_white.png">
					<h1 class="text-5xl font-bold text-white text-center w-full">
						Management Hub
					</h1>
				</div>
				<main role="main" class="bg-white rounded-lg w-1/2 h-900 p-8 flex-1">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>
</body>
</html>