<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Management Hub</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<!-- TODO: create build pipeline for the assets to be included automatically. (CF url from config, path from pipeline) -->
	<link rel="stylesheet" media="all" href="https://d3r8w2muflqe0h.cloudfront.net/packs/css/application-996b6f01.css">
	<link rel="icon" type="image/png" href="https://d3r8w2muflqe0h.cloudfront.net/assets/favicon-199bfa039a4922d3b034b992438e97c66fb01eef64be25365e0def30556ae52c.ico">
</head>
<body>
	<div class="main-background static h-screen w-full overflow-hidden">
		<img class="-z-1 object-cover" src="https://d3r8w2muflqe0h.cloudfront.net/assets/background1-93aedf1629de8d458c6369f8fec2bc5efa95f8ced980950057c68c6a259651f3.png">
		<div class="z-1 absolute inset-0 h-full w-full p-12" style="background-color: rgba(114, 186, 108, 0.8);">
			<div class="flex h-full">
				<div class="flex-1 w-1/2">
					<img src="https://d3r8w2muflqe0h.cloudfront.net/assets/IQA_long_white-0bb2d17ebc5b98d3b6822834c931f10cf688739479048dacdeeafda45bf1d3c0.png">
					<h1 class="text-5xl font-bold text-white text-center w-full">
						Management Hub
					</h1>
				</div>
				<main role="main" class="bg-white rounded-lg w-1/2 h-900 p-8 flex-1">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>
</body>
</html>