<p>
  Hello <%= @user.email %>,
  <br/>
  We just finished exporting your CSV. You can download the <a href="<%= @exported_csv.url %>">CSV file here</a>.
  <br/>
  <br/>
  Best,
  <br/>
  The IQA IT Department
</p>
