@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
}

.error-message {
    @apply bg-red-100;
    @apply border;
    @apply border-red-400;
    @apply text-red-700;
    @apply px-4; 
    @apply py-3; 
    @apply rounded; 
    @apply relative; 
    @apply my-5;
}

.error-message > h2 {
    @apply font-bold;
}

.list > li {
    @apply appearance-none;
    @apply list-disc;
}

.bottom-border-input {
    @apply w-full;
    @apply h-8;
    @apply flex-shrink;
    @apply flex;
    @apply items-center;
    @apply border-b;
    @apply border-b-2;
    @apply border-navy-blue;
    @apply py-2;
}

.bottom-border-error {
    @apply w-full;
    @apply h-8;
    @apply flex-shrink;
    @apply flex;
    @apply items-center;
    @apply border-b;
    @apply border-b-2;
    @apply border-red-400;
    @apply py-2;
}

.avatar {
    @apply appearance-none;
    @apply rounded-full;
    @apply bg-gray-600;
    @apply text-white;
    @apply font-bold;
    @apply h-8;
    @apply w-8;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply flex-shrink;
    @apply cursor-pointer;
    @apply relative;
    @apply block;
}

.toggle {
    @apply relative;
    @apply select-none;
    @apply w-12;
    @apply mr-2;
    @apply leading-normal;
}

.toggle-checkbox {
    @apply hidden;
}

.toggle-label {
    @apply block;
    @apply overflow-hidden;
    @apply cursor-pointer;
    @apply bg-white;
    @apply border;
    @apply rounded-full; 
    @apply h-6;
    @apply shadow-inner;
    @apply inset-0;

    transition: background-color 0.2s ease-in;
}

.toggle-label:before {
    @apply absolute;
    @apply block;
    @apply bg-white;
    @apply w-6;
    @apply border;
    @apply rounded-full;
    @apply -ml-1;
    @apply h-6;

    right: 50%;
    content: "";
    transition: all 0.2s ease-in;
}

.toggle-checkbox:checked + .toggle-label {
    @apply bg-green;
    @apply shadow-none;
}

.toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(25px)
}

.clickable-icon-label {
    @apply cursor-pointer;
    @apply flex;
    @apply justify-between;
    @apply items-center;
    width: 3.5rem;
}

.rounded-table-header {
    @apply border-collapse;
    @apply w-full;
    @apply table-fixed;
    @apply bg-gray-300;
    @apply my-4;
    border-radius: 6px;
    -moz-border-radius: 6px;
}

.rounded-table {
    @apply border-collapse;
    @apply w-full;
    @apply table-fixed;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.rounded-table > tr {
    @apply border;
    @apply border-gray-300;
}

.table-container {
    @apply overflow-scroll;
    height: 30rem;
    overflow-x: hidden;
    scrollbar-color: #72BA6C grey;
}

.table-container::-webkit-scrollbar {
    width: 15px;
}

.table-container::-webkit-scrollbar-track {
    @apply bg-gray-300;
}

.table-container::-webkit-scrollbar-thumb {
    @apply bg-green;
    @apply border-2;
    @apply border-gray-300;
    border-radius: 6px;
}

.full-height-table {
    @apply h-screen;
    @apply overflow-auto;
}

.button-tab {
    @apply border-2;
    @apply border-gray-600;
    @apply cursor-pointer;
    @apply text-navy-blue;
    @apply py-2;
    @apply px-4;
    @apply mr-4;
    @apply rounded;
    @apply font-bold;
}

.active-button-tab {
    @apply bg-navy-blue;
    @apply text-white;
    @apply border-navy-blue;
}

*:focus {
    outline: none !important;
}

.green-button-outline {
    @apply rounded;
    @apply bg-white;
    @apply border-2;
    @apply border-green;
    @apply text-green;
    @apply py-2;
    @apply px-4;
    @apply uppercase;
}

.green-button-outline:disabled {
    @apply cursor-not-allowed;
}

.step-circle {
    @apply rounded-full;
    @apply w-12;
    @apply h-12;
    @apply border-2;
    @apply border-gray-400;
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-white;
}

.step-connector {
    @apply h-1;
    @apply border-b;
    @apply border-gray-400;
    @apply absolute;
    top: 36px;
    left: 150px;
    width: 70%;
    z-index: -1;
}

.step-container {
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply text-gray-400;
    @apply mx-12;
    width: 33.33%
}

.step-active {
    color: #2F3F57 !important;
}

.circle-active {
    border-color: #2F3F57 !important;
}

.step-number {
    @apply uppercase;
    @apply font-bold;
    @apply text-gray-400;
}

.tab-row {
    @apply w-full;
    @apply relative;
}

.tab-row:before {
    @apply z-1;
}

.tab-row:after {
    @apply absolute;
    @apply w-full;
    @apply bottom-0;
    @apply left-0;
    @apply border-b;
    @apply z-1;
    content: "";
}

.tab-row button {
    @apply relative;
    @apply py-2;
    @apply px-8;
    @apply inline-block;
    z-index: 0;
}

.tab-selected:before,
.tab-selected:after {
    @apply absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
}
.tab-selected:last-child:before {
    left: -6px;
    box-shadow: 2px 2px 0 #FFF;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
}
.tab-selected:after {
    right: -6px;
    box-shadow: -2px 2px 0 #FFF;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
}

.tab-selected {
    @apply border;
    @apply rounded;
    z-index: 2 !important;
    border-bottom-color: #FFF;
}

.pagination {
    @apply flex;
    @apply justify-center;
    @apply text-gray-700;
    @apply rounded-full;
    @apply bg-gray-300;
}

.pagination > li {
    @apply h-8;
    @apply w-8;
    @apply mr-2;
    @apply flex;
    @apply items-center;
    @apply rounded-full;
    @apply justify-center;
    @apply cursor-pointer;
}

.pagination > li.rc-pagination-item-active {
    @apply bg-green;
}

.pagination > li.rc-pagination-options {
    @apply hidden;
}

/*Toast open/load animation*/
.alert-toast {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*Toast close animation*/
.alert-toast input:checked ~ * {
    -webkit-animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: fade-out-right 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@-webkit-keyframes fade-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}}@keyframes fade-out-right{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(50px);transform:translateX(50px);opacity:0}}
