<p>Hello <%= @resource.email %>!</p>

<p>
  We're contacting you to notify you that your password has been changed. If you did not make this change please change your password or reach out to
  <a href="mailto:tech@iqasport.org" class="mx-2">tech@iqasport.org</a>
  for support.
</p>
